.divisaologo{
    padding: 10px;
    background-color: #190B28;
    
}
.logo{
    width: 150px;
    height: 50px;
    display: inline;
    border-radius: 10%;
    border: 2px solid black; 
    cursor: pointer;  
}